{% extends "blog/base.html" %}
{% load static %}

{% block title %}About - {{ site_name }}{% endblock %}

{% block content %}
    <h1 class="post-title">About</h1>

    <img class="about-photo" src="{% static 'blog/img/cat-meme-wave-emoji.gif' %}" alt="Waving cat meme" width="250">
    <div class="post-content">
        <p>
            Hi, I'm Khalil — welcome to my personal blog! This is where I write about the
            things I'm working on, things I'm learning, and anything else that's on my mind.
        </p>
        <p>
            I built this web application as a project to learn Django by following the roadmap at <a href="https://roadmap.sh/django">Roadmap.sh</a>.
            It is a simple blog website that handles user authentication and CRUD operations for blog posts and comments. 
        </p>
        <p>
            The architecture of the project consists of a Django backend and a PostgreSQL database. 
            Since we are using Django's MVT (Model-View-Template), Django handles the backend logic and serves HTML templates to the user.
            The templates are rendered on the server side and sent to the user's browser as HTML. You can check the code for this project on the <a href="https://github.com/Khalil002/personal-blog">Github repo</a>.
        </p>
        <p>
            As the next step in my Django learning journey, I plan to build my next project using Django REST Framework (DRF) to create a RESTful API.
        </p>
        <p>
            Feel free to look around, browse the archives, and leave a comment on any post
            that catches your eye.
        </p>
    </div>
{% endblock %}
